<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-heading">About the Site</h1>
			<p>This is an e-commerce site offering a variety of products at low prices. Visit us for secure transactions, fast shipping, and excellent customer service!</p>
		</div>
	</div>
</div>