<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Contact Us</h1>
			<p>Have questions? We're available via phone, email, and snail mail. Contact us using any of the methods below.</p>
			<ul>
				<li><strong>Email:</strong> support@site.com</li>
				<li><strong>Phone:</strong> 1-800-555-5555</li>
				<li><strong>Mail:</strong> 555 Streetname, City, State 55555</li>
			</ul>
		</div>
	</div>
</div>
