<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-heading">Message Successfully Sent!</h1>
    		<p>Thank you. We have received your message and will respond as soon as possible. If the matter is urgent, please call us at 1-800-555-5555.</p>
    		<%= link_to "Go back to homepage", 'root_path' %>
  		</div><!-- / panel-body -->
	</div><!-- / panel -->
</div>
