<td style="padding: 25px; background-color: blue;">
	<table width="100%">
	  <tbody>
	    <tr>
	      <td><p>You have received a new contact form message. The contents of the message are:</p></td>
	    </tr>
	    <tr>
	      <td><p><%= @message %></p></td>
	    </tr>
	  </tbody>
	</table>