	<table width="100%" style="padding: 25px;">
	  <tbody style="background-color: blue; color: white;">
	    <tr>
	      <td><p style="text-align: center;">You have received a new contact form message. The contents of the message are:</p></td>
	    </tr>
	    <tr>
	      <td><p style="text-align: center;"><%= @message %></p></td>
	    </tr>
	  </tbody>
	</table>