<td bgcolor="lightblue" style="padding: 35px;">
	<table width="100%">
	  <tbody style="color: white;">
	    <tr>
	      <td><p>You have received a new contact form message. The contents of the message are:</p></td>
	    </tr>
	    <tr>
	      <td><p><%= @message %></p></td>
	    </tr>
	  </tbody>
	</table>