	<table width="100%" style="padding: 25px;">
	  <tbody>
	    <tr>
	      <td><p style="text-align: center;">Thanks for signing up for an account, <%= @user.email %>!</p></td>
	    </tr>
	    <tr>
	      <td><p style="text-align: center;">You may now log in by visiting us at <%= @url %></p></td>
	    </tr>
	  </tbody>
	</table>