<footer class="footer">
            <div class="container">
            	<div class="row">
            		<div class="col-md-4 col-sm-4 col-xs-6">
            		<ul class="footer-links">
            			<h4>Site Directory</h4>
            			<li><%= link_to "View All", products_path %></li>
                        <li><%= link_to "Special Offers", static_pages_coming_soon_path %>
                        </li>
                        <li><%= link_to "About Us", static_pages_about_path %>
                        </li>
                        <li><%= link_to "Contact Us", static_pages_contact_path %>
                        </li>
            		  </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <ul class="footer-contact">
                	<h4>Contact Us</h4>
                	<li>support@site.com</li>
                	<li>1-800-555-5555</li>
                	<li>555 Streetname, City, State 55555</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <p class="text-center">&copy; Gadget Mart 2015</p>
            </div>
        </div>
    </footer>