<div class="container page-heading" ng-controller="OrdersCtrl">
	<h1>Orders</h1>

	<form class="form-inline" ng-submit="addOrder()">
		<strong>Add Order: </strong>
		<select ng-model="newOrder.product_id" class="form-control">
  			<option value="" disabled selected>Select a product</option>
  			<option ng-repeat="product in products" value="{{product.id}}">{{product.name}}</option>
		</select>
		<input type="number" step="0.01" class="form-control" placeholder="Total" ng-model="newOrder.total">
		<input type="number" class="form-control" ng-model="newOrder.product_id">
		<input type="submit" value="+" class="btn btn-success">
	</form>

	<table class="table table-hover">
		<thead>
			<td>Order ID</td>
			<td>Total</td>
			<td>Product</td>
			<td></td>
		</thead>
		<tr ng-repeat="order in orders | orderBy: '-id':reverse">
			<td>{{order.id}}<small ng-show="order.id"><br>-{{order.user.email}}</small></td>
			<td><strong>{{order.total | currency}}</strong></td>
			<td>{{order.product.name}}</td>
			<td>
				<button ng-click="deleteOrder(order)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
			</td>
		</tr>
	</table>
</div>
