<div class="container product-display page-heading">
	<div class="row">
		<div class="col-md-12">
			<h2>Thank you for your order!</h2>
			<p>Your payment has been processed, and your order will ship soon. Contact us with any questions.</p>
		</div>
	</div>
</div>
