// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

thead tr th,
tbody tr td {
	margin: 10px 50px;
	padding: 10px;
}

.product-background {
	background-color: white;
	padding: 10px;
}

.product-row {
	margin-bottom: 30px;
	padding: 10px;
	border-bottom: 1px solid black;
}

@media only screen and (max-device-width: 480px) {
	.grid-header {
		display: none;
	}
	.col-sm-3,
	.col-md-3 {
		margin: 10px;
}
}