// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

thead tr th,
tbody tr td {
	margin: 10px 50px;
	padding: 10px;
}

.product-background {
	background-color: white;
	padding: 10px;
}

.product-row {
	margin-bottom: 30px;
	padding: 10px;
	border-bottom: 1px solid black;
}

.btn.btn-primary a {
	color: white !important;
}

.btn.btn-primary {
	margin-bottom: 10px;
}

@media screen and (min-width: 500px) and (max-width: 768px) {
	.page-heading {
		padding-top: 50px;
	}
}

#carousel-example-generic {
	margin-top: 60px;
}

.search {
	padding-top: 13px;
}
