<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading">List of Products</h1>
  </div>

    <%= render @products %>
</div>

<br>
      <button class="btn btn-primary"><%= link_to 'Add a new product', new_product_path %></button>
  </div>
</div>